body {
    font-family: sans-serif;
    margin: 0;
    padding: 24px;
    background-color: #f7f7f7;
}

/* Контейнер галереї */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.gallery-item {
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
    transform: scale(1.03);
}

.gallery-link {
    display: block;
    width: 100%;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basicLightbox__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image {
    max-width: 90vw;
    max-height: 90vh;
    display: block;
}